/*
 * Custom translucent site header
*/
 body {
   /*font-family: 'Open Sans', Nunito;*/
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   background-size: cover;
   height: 100%;
   color: #24292e;

 }

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #15291b;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  background-color:#15291b !important;
  color: #fff;
  text-decoration: none;
}
.bg-darker{
  background-color:#15291b;
}
.v-align{
  vertical-align: middle;
}

.text-green{
  color:#15291b !important;
}

.text-green-light{
  color:#060 !important;
}

a:hover{
  text-decoration: none;
  color:#15291b;
}

.inset {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6),
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.payment-button{
  background-image: -webkit-linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#cb2431;
  border: solid 1px  #e0e0e0;
}

.payment-button:hover{
  background: #cb2431 !important;
  color: #fff;
}

.back-button{
  background-image: -webkit-linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#007bff;;
  border: solid 1px  #e0e0e0;
}

.back-button:hover{
  background: #007bff !important;
  color: #fff;
}

.admission-button{
  background-image: -webkit-linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#060;;
  border: solid 1px  #e0e0e0;
}

.admission-button:hover{
  background: #060 !important;
  color: #fff;
}

/* The container */
.container_check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toast {
  opacity: 1 !important;
}